#################################################################################
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
#################################################################################
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#################################################################################
# FYI: Owners will be auto-assigned for code reviews as well
#################################################################################

# The Keptn Ecosystem team owns everything not owned by anyone else: Keptn Ecosystem https://github.com/orgs/keptn-contrib/teams/keptn-ecosystem/members
* @keptn-contrib/keptn-ecosystem

# Keptn Ecosystem team owns automations
*.py @keptn-contrib/keptn-ecosystem

#################################################################################
# Services are owned by individual people (by default the person that initialy created the service)
#################################################################################

argo/ @TannerGilbert

aws_lambda/ @agardnerIT

awsapprunner/ @agardnerIT

artillery/ @TannerGilbert

cloudcustodian/ @agardnerIT

dynatrace/ @arthurpitman @heckelmann @jskelin @j-poecher @Kavindu-Dodan

githubaction/ @robertjahn

grafana/ @TannerGilbert

ifttt/ @agardnerIT

infracost/ @agardnerIT

jenkins-library/ @keptn-contrib/keptn-ecosystem

jira/ @agardnerIT

jmeter/ @TannerGabriel

job-executor/ @keptn-contrib/keptn-ecosystem

k6/ @jainammm

kubeval/ @agardnerIT

litmus/ @TannerGilbert

locust/ @TannerGilbert

monaco/ @TannerGilbert

monday.com/ @agardnerIT

neoload/ @TannerGilbert @guillaumebert

notification/ @TannerGilbert

onechart/ @laszlocph

osticket/ @agardnerIT

powershell/ @agardnerIT

prometheus/ @keptn-contrib/keptn-ecosystem

servicenow/ @TannerGilbert

shell/ @agardnerIT

slack/ @johannes-b

slackbot/ @TannerGilbert

trello/ @agardnerIT

unleash/ @TannerGilbert

wrike/ @agardnerIT

zapier/ @agardnerIT

zendesk/ @agardnerIT