# Artifact Hub package metadata file
# https://github.com/artifacthub/hub/blob/master/docs/metadata/artifacthub-pkg.yml
version: 0.6.2
name: prometheus-service
displayName: Prometheus Service
createdAt: 2021-09-03T00:00:00Z
description: Keptn service for utilizing Prometheus monitoring and alerting in keptn
logoURL: https://raw.githubusercontent.com/cncf/artwork/master/projects/prometheus/stacked/color/prometheus-stacked-color.svg
digest: 2021-10-05T15:00:00Z
license: Apache-2.0
homeURL: https://keptn.sh/docs/integrations/
keywords:
  - keptn
  - prometheus
  - contrib
links:
  - name: Source
    url: https://github.com/keptn-contrib/prometheus-service
install: |
  ## Execute the following steps to install prometheus-service:
  ### Download the Keptn's Prometheus service manifest
  ```bash
  wget https://raw.githubusercontent.com/keptn-contrib/prometheus-service/release-0.6.1/deploy/service.yaml
  ```
  ### Replace the environment variable value according to the use case and apply the manifest
  ```bash
  kubectl apply -f service.yaml
  ```
  ### Install Role and Rolebinding to permit Keptn's prometheus-service for performing operations in the Prometheus installed namespace.
  ```bash
  kubectl apply -f https://raw.githubusercontent.com/keptn-contrib/prometheus-service/release-0.6.1/deploy/role.yaml -n <PROMETHEUS_NS>
  ```
  ### Execute the following command to install Prometheus and set up the rules for the *Prometheus Alerting Manager*:
  ```bash
  keptn configure monitoring prometheus --project=sockshop --service=carts
  ```
recommendations:
  - url: https://artifacthub.io/packages/helm/keptn/keptn
annotations:
  keptn/kind: "sli-provider,prometheus"
  keptn/org: "contrib"
  keptn/version: "0.9.0"